{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.querycount > 0 %}
        {% set icon %}
            {{ include('@ElasticaODM/Icon/elastic.svg') }}
            <span class="sf-toolbar-value">{{ collector.querycount }}</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>Queries</b>
                <span class="sf-toolbar-status">{{ collector.querycount }}</span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url, status: status_color }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label{{ collector.queries is empty ? ' disabled' }}">
        <span class="icon">{{ include('@ElasticaODM/Icon/elastic.svg') }}</span>
        <strong>Elastica ODM</strong>
        {% if collector.querycount > 0 %}
            <span class="count">
                <span>{{ collector.querycount }}</span>
            </span>
        {% endif %}
    </span>
{% endblock %}

{% block head %}
    {{ parent() }}
    <style>
        .query-item thead th { position: relative; cursor: pointer; user-select: none; padding-right: 35px; }
        .query-item tbody tr td:first-child { width: 115px; }

        .query-item .label { float: right; padding: 1px 5px; opacity: .75; margin-left: 5px; }
        .query-item .toggle-button { position: absolute; right: 6px; top: 6px; opacity: .5; pointer-events: none }
        .query-item .icon svg { height: 24px; width: 24px; }

        .query-item .sf-toggle-off .icon-close, .sf-toggle-on .icon-open { display: none; }
        .query-item .sf-toggle-off .icon-open, .sf-toggle-on .icon-close { display: block; }

        .query-item tbody.sf-toggle-content.sf-toggle-visible { display: table-row-group; }
    </style>
{% endblock %}

{% block panel %}
    {% import _self as helper %}

    <h2>Elastica ODM</h2>

    <h2>Query Metrics</h2>

    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.querycount|default(0) }}</span>
            <span class="label">Database Queries</span>
        </div>

        <div class="metric">
            <span class="value">{{ '%0.0f'|format(collector.time) }} ms</span>
            <span class="label">Query time</span>
        </div>
    </div>

    {% if collector.queries is empty %}
        <div class="empty">
            <p>No queries available.</p>
        </div>
    {% else %}
        <div class="sf-tabs">
            <div class="tab">
                <h3 class="tab-title">Queries <span class="badge">{{ collector.querycount }}</span></h3>
                <div class="tab-content">
                    {{ helper.render_queries(collector.queries) }}
                </div>
            </div>
        </div>

        <script>
            (function () {
                window.toggleJson = function (event, target) {
                    event.preventDefault();

                    var jsonElement = document.getElementById(target + '-json');
                    var dumpElement = document.getElementById(target + '-dump');

                    if (jsonElement.style.display === 'none') {
                        jsonElement.style.display = 'block';
                        dumpElement.style.display = 'none';
                    } else {
                        jsonElement.style.display = 'none';
                        dumpElement.style.display = 'inline';
                    }
                }
            }());
        </script>
    {% endif %}
{% endblock %}

{% macro render_queries(queries) %}
    {% set discr = random() %}
    {% for query in queries %}
        <table class="query-item">
            <thead>
            <tr>
                <th colspan="3" class="sf-toggle"
                    data-toggle-selector="#query-item-{{ discr }}-{{ loop.index0 }}-details"
                    data-toggle-initial="{{ loop.first ? 'display' }}"
                >
                    <span style="font-weight: bold;">{{ query.method }}</span>
                    <span class="dump-inline">{{ query.path }}</span>
                    <span class="label">{{ query.executionMs }} ms</span>
                </th>
            </tr>
            </thead>
            <tbody id="query-item-{{ discr }}-{{ loop.index0 }}-details" class="sf-toggle-content">
            <tr>
                <td class="text-bold">Query</td>
                <td>
                    <span id="query-item-{{ discr }}-{{ loop.index0 }}-query-dump">{{ profiler_dump(query.data) }}</span>
                    <pre id="query-item-{{ discr }}-{{ loop.index0 }}-query-json" style="display: none">{{ query.data.getValue(true)|json_encode(128) }}</pre>
                </td>
                <td style="text-align: right"><a href="#" onclick="toggleJson(event, 'query-item-{{ discr }}-{{ loop.index0 }}-query')">Show/hide JSON</a></td>
            </tr>
            {% if query.response is not empty %}
                <tr>
                    <td class="text-bold">Response</td>
                    <td>
                        <span id="query-item-{{ discr }}-{{ loop.index0 }}-response-dump">{{ profiler_dump(query.response) }}</span>
                        <pre id="query-item-{{ discr }}-{{ loop.index0 }}-response-json" style="display: none">{{ query.response.getValue(true)|json_encode(128) }}</pre>
                    </td>
                    <td style="text-align: right"><a href="#" onclick="toggleJson(event, 'query-item-{{ discr }}-{{ loop.index0 }}-response')">Show/hide JSON</a></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    {% endfor %}
{% endmacro %}
